# FastAPI Settings
APP_NAME="FastAPI MS SQL Base"
APP_ENV="dev"
HOST="127.0.0.1"
PORT=8000

# Database Settings
DB_SERVER="localhost"
DB_PORT=1433
DB_DATABASE="your_db_name"
DB_USERNAME="your_username"
DB_PASSWORD="your_password"
DB_DRIVER="ODBC Driver 17 for SQL Server"
DB_TRUST_SERVER_CERTIFICATE="yes"
